{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "jsx": false,
      "dynamicImport": true,
      "privateMethod": false,
      "functionBind": false,
      "exportDefaultFrom": false,
      "exportNamespaceFrom": false,
      "decorators": true,
      "decoratorsBeforeExport": false,
      "topLevelAwait": false,
      "importMeta": false
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es5",
    "preserveAllComments": true,
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": false,
    "baseUrl": ".",
    "paths": {
      "@/*": ["./src/*"],
      "@types": ["./src/types"]
    }
  },
  "module": {
    "type": "commonjs"
  },
  "exclude": [".*\\.d.ts$", ".*\\.test.ts$"],
  "minify": false
}
